h1 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;

}
p {
    color: blue;
    font-weight: 800;
}

#tortilla {
    text-align: left;
}

#chipotlechicken {
    text-align: center;
}

#picodegallo {
    text-align: right;
}